# Data Preparation

## Importing Libraries

In [1]:
import pandas as pd
# ensure openpyxl==3.1.0, version 3.1.1 has a bug

In [2]:
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen

## Downloading Data

In [3]:
MajorRoadsEmissionsURL = 'https://data.london.gov.uk/download/london-atmospheric-emissions-inventory-2013/8c520de2-c518-4e64-932c-0071ac826742/LAEI2013_MajorRoads_EmissionsbyLink_2013.xlsx'
xls = pd.ExcelFile(MajorRoadsEmissionsURL)

In [4]:
SupportingDocURL = 'https://data.london.gov.uk/download/london-atmospheric-emissions-inventory-2013/1f3755f3-dae8-4d39-b9b4-0cc7adb4e826/1.%20Supporting%20Information.zip'
resp = urlopen(SupportingDocURL)

In [5]:
DocZip = ZipFile(BytesIO(resp.read()))
DocZip.namelist()[:10]

['1. Supporting Information/',
 '1. Supporting Information/1. Road Traffic Data/',
 '1. Supporting Information/1. Road Traffic Data/Excel/',
 '1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_2008_AADT-VKM.xlsx',
 '1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_2010_AADT-VKM.xlsx',
 '1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_2013_AADT-VKM.xlsx',
 '1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_2020_AADT-VKM.xlsx',
 '1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_2025_AADT-VKM.xlsx',
 '1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_2030_AADT-VKM.xlsx',
 '1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_VKM_AllYears_Summary.xlsx']

## Load Data into dataframes

### Road Emissions Data

In [6]:
xls.sheet_names

['2013 LTS Rds', '2013 Other Major Rds']

In [7]:
df_LTSroads = pd.read_excel(xls, '2013 LTS Rds')
print(df_LTSroads.shape)
df_LTSroads.head()

(366220, 32)

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,Lts,Length (m),Emissions,Year,Pollutant,...,Artic5Axle,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv
0,6253,4000000027908919,24,External,NonGLA,18898,50.761449,DFT,2013,CO2,...,0.241372,0.190560,8.761443,4.810774,0.037550,1.735121,0.0,0.0,0.0,0.0
1,6253,4000000027947931,24,External,NonGLA,18895,28.592125,DFT,2013,CO2,...,0.000000,0.000000,0.015535,0.008576,0.000000,0.000000,0.0,0.0,0.0,0.0
2,6253,4000000028013383,24,External,NonGLA,15816,5.101391,DFT,2013,CO2,...,0.027271,0.021509,0.939028,0.518684,0.004055,0.184415,0.0,0.0,0.0,0.0
3,6253,4000000028025820,24,External,NonGLA,15816,3.757501,DFT,2013,CO2,...,0.020087,0.015843,0.691654,0.382044,0.002987,0.135834,0.0,0.0,0.0,0.0
4,6253,4000000028029388,24,External,NonGLA,15816,1.624593,DFT,2013,CO2,...,0.008685,0.006850,0.299044,0.165180,0.001292,0.058729,0.0,0.0,0.0,0.0

In [8]:
df_OtherMajorRoads = pd.read_excel(xls, '2013 Other Major Rds')
print(df_OtherMajorRoads.shape)
df_OtherMajorRoads.head()

(513740, 32)

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,DotRef,Length (m),Emissions,Year,Pollutant,...,Artic5Axle,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv
0,5911,4000000027989878,2,External,NonGLA,28440,9.714495,DFT,2013,CO2,...,3.006694,12.549219,18.791658,19.630267,0.279151,11.005820,0.000000,0.744254,0.0,0.0
1,5911,4000000027989880,2,External,NonGLA,28440,0.000000,DFT,2013,CO2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2,5911,4000000027989882,2,External,NonGLA,57226,8.577192,DFT,2013,CO2,...,0.760333,2.446611,19.478135,10.300493,0.120149,7.734197,0.754408,0.868990,0.0,0.0
3,5911,4000000028014332,2,External,NonGLA,57226,9.347936,DFT,2013,CO2,...,0.823130,2.648621,20.173154,10.553940,0.123945,7.418739,0.820669,0.897038,0.0,0.0
4,5911,4000000027888882,2,External,NonGLA,28440,0.000000,DFT,2013,CO2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [9]:
# concat  the two dataframes
df_RoadEmissions = pd.concat([df_LTSroads, df_OtherMajorRoads], ignore_index=True)
print(df_RoadEmissions.shape)
df_RoadEmissions.head()

(879960, 33)

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,Lts,Length (m),Emissions,Year,Pollutant,...,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv,DotRef
0,6253,4000000027908919,24,External,NonGLA,18898.0,50.761449,DFT,2013,CO2,...,0.190560,8.761443,4.810774,0.037550,1.735121,0.0,0.0,0.0,0.0,NaN
1,6253,4000000027947931,24,External,NonGLA,18895.0,28.592125,DFT,2013,CO2,...,0.000000,0.015535,0.008576,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN
2,6253,4000000028013383,24,External,NonGLA,15816.0,5.101391,DFT,2013,CO2,...,0.021509,0.939028,0.518684,0.004055,0.184415,0.0,0.0,0.0,0.0,NaN
3,6253,4000000028025820,24,External,NonGLA,15816.0,3.757501,DFT,2013,CO2,...,0.015843,0.691654,0.382044,0.002987,0.135834,0.0,0.0,0.0,0.0,NaN
4,6253,4000000028029388,24,External,NonGLA,15816.0,1.624593,DFT,2013,CO2,...,0.006850,0.299044,0.165180,0.001292,0.058729,0.0,0.0,0.0,0.0,NaN

### Traffic Data

In [10]:
traffic_excel = DocZip.read('1. Supporting Information/1. Road Traffic Data/Excel/LAEI2013_2013_AADT-VKM.xlsx')
traffic_xls = pd.ExcelFile(BytesIO(traffic_excel))

In [11]:
df_AADT = pd.read_excel(traffic_xls, 'MajorGrid_AADTandVKM_2013')
print(df_AADT.shape)
df_AADT.head()

(87999, 44)

,RowID,Year,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,TLRN,MotorwayNumber,AADT Motorcycle,AADT Taxi,...,VKM_Coach,VKM_Rigid2Axle,VKM_Rigid3Axle,VKM_Rigid4Axle,VKM_Artic3Axle,VKM_Artic5Axle,VKM_Artic6Axle,VKM_ElectricCar,VKM_ElectricLgv,VKM_TOTAL
0,1.0,2013.0,4.000000e+15,836.0,Outer,Hillingdon,Other,Other,88.301916,77.112580,...,149.248696,293.680300,55.978941,39.030966,16.191367,10.970609,3.993946,4.335614,1.235289,16605.011414
1,2.0,2013.0,4.000000e+15,2217.0,Outer,Hillingdon,Other,Other,88.301916,77.112580,...,98.338925,193.503902,36.884134,25.717231,10.668379,7.228458,2.631583,2.856706,0.813924,10940.494996
2,3.0,2013.0,4.000000e+15,282.0,External,NonGLA,Other,Other,310.363572,100.322495,...,1657.075319,12950.212101,3011.364039,2861.551314,1710.809301,1966.897025,1647.110606,221.806380,47.635028,796735.125068
3,4.0,2013.0,4.000000e+15,873.0,Outer,Hillingdon,Other,Other,39.473081,144.548284,...,118.008843,9777.985094,2051.227418,1024.275647,470.758531,815.631678,1959.389833,78.775616,15.287825,284144.265992
4,5.0,2013.0,4.000000e+15,2930.0,Outer,Hillingdon,Other,Other,39.473081,144.548284,...,401.216526,33244.027352,6973.937855,3482.419671,1600.524988,2773.054115,6661.700602,267.828056,51.976850,966057.900401

### Join the dataframes

In [12]:
# left join df_RoadEmissions and df_AADT on the ['Toid' and 'GRID_ExactCut_ID'] column
df = pd.merge(df_RoadEmissions, df_AADT, how='left',
            left_on=['Toid', 'GRID_ExactCut_ID'],
            right_on=['Toid', 'GRID_ExactCut_ID'])
print(df.shape)
df.head()

(879960, 75)

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut_x,BoroughName_ExactCut_x,Lts,Length (m)_x,Emissions,Year_x,Pollutant,...,VKM_Coach,VKM_Rigid2Axle,VKM_Rigid3Axle,VKM_Rigid4Axle,VKM_Artic3Axle,VKM_Artic5Axle,VKM_Artic6Axle,VKM_ElectricCar,VKM_ElectricLgv,VKM_TOTAL
0,6253,4000000027908919,24,External,NonGLA,18898.0,50.761449,DFT,2013,CO2,...,0.0,2383.880434,229.558857,335.509098,194.242109,247.217230,176.583736,28.990862,5.460174,104036.993985
1,6253,4000000027947931,24,External,NonGLA,18895.0,28.592125,DFT,2013,CO2,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.046589,0.000000,140.050860
2,6253,4000000028013383,24,External,NonGLA,15816.0,5.101391,DFT,2013,CO2,...,0.0,239.573680,23.070058,33.717777,19.520818,24.844678,17.746199,2.913505,0.548733,10455.442789
3,6253,4000000028025820,24,External,NonGLA,15816.0,3.757501,DFT,2013,CO2,...,0.0,176.461358,16.992575,24.835302,14.378333,18.299696,13.071212,2.145983,0.404177,7701.103189
4,6253,4000000028029388,24,External,NonGLA,15816.0,1.624593,DFT,2013,CO2,...,0.0,76.294807,7.346907,10.737788,6.216614,7.912054,5.651467,0.927837,0.174750,3329.647849

In [13]:
# remove unnecessary columns
columnstokeep = df.columns
for a in columnstokeep:
    if 'VKM' in a:
        columnstokeep = columnstokeep.drop(a)
df = df[columnstokeep]
print(df.shape)
df.head()

(879960, 58)

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut_x,BoroughName_ExactCut_x,Lts,Length (m)_x,Emissions,Year_x,Pollutant,...,AADT Rigid3Axle,AADT Rigid4Axle,AADT Artic3Axle,AADT Artic5Axle,AADT Artic6Axle,AADT ElectricCar,AADT ElectricLgv,AADT TOTAL,Speed (kph),Length (m)_y
0,6253,4000000027908919,24,External,NonGLA,18898.0,50.761449,DFT,2013,CO2,...,12.389882,18.108290,10.483747,13.342950,9.530679,1.564711,0.29470,5615.144325,42.269546,50.761449
1,6253,4000000027947931,24,External,NonGLA,18895.0,28.592125,DFT,2013,CO2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.004464,0.00000,13.419814,32.236053,28.592125
2,6253,4000000028013383,24,External,NonGLA,15816.0,5.101391,DFT,2013,CO2,...,6.194941,9.054145,5.241873,6.671475,4.765339,0.782356,0.14735,2807.572163,35.051885,10.202783
3,6253,4000000028025820,24,External,NonGLA,15816.0,3.757501,DFT,2013,CO2,...,6.194941,9.054145,5.241873,6.671475,4.765339,0.782356,0.14735,2807.572163,35.051885,7.515003
4,6253,4000000028029388,24,External,NonGLA,15816.0,1.624593,DFT,2013,CO2,...,6.194941,9.054145,5.241873,6.671475,4.765339,0.782356,0.14735,2807.572163,35.051885,3.249186

In [14]:
df.columns

Index(['GridId', 'Toid', 'GRID_ExactCut_ID', 'Location_ExactCut_x',
       'BoroughName_ExactCut_x', 'Lts', 'Length (m)_x', 'Emissions', 'Year_x',
       'Pollutant', 'Emissions Unit', 'Motorcycle', 'Taxi', 'Car',
       'BusAndCoach', 'Lgv', 'Rigid', 'Artic', 'Rigid2Axle', 'Rigid3Axle',
       'Rigid4Axle', 'Artic3Axle', 'Artic5Axle', 'Artic6Axle', 'PetrolCar',
       'DieselCar', 'PetrolLgv', 'DieselLgv', 'LtBus', 'Coach', 'ElectricCar',
       'ElectricLgv', 'DotRef', 'RowID', 'Year_y', 'Location_ExactCut_y',
       'BoroughName_ExactCut_y', 'TLRN', 'MotorwayNumber', 'AADT Motorcycle',
       'AADT Taxi', 'AADT Pcar', 'AADT Dcar', 'AADT PLgv', 'AADT DLgv',
       'AADT LtBus', 'AADT Coach', 'AADT Rigid2Axle', 'AADT Rigid3Axle',
       'AADT Rigid4Axle', 'AADT Artic3Axle', 'AADT Artic5Axle',
       'AADT Artic6Axle', 'AADT ElectricCar', 'AADT ElectricLgv', 'AADT TOTAL',
       'Speed (kph)', 'Length (m)_y'],
      dtype='object')

## Split data for each type of pollutants

In [15]:
# Split df by unique 'Pollutant' values into dictionary
df_dict = {k: v for k, v in df.groupby('Pollutant')}
df_dict.keys()

dict_keys(['CO2', 'NOx', 'PM10_Brake', 'PM10_Exhaust', 'PM10_Resusp', 'PM10_Tyre', 'PM25_Brake', 'PM25_Exhaust', 'PM25_Resusp', 'PM25_Tyre'])

In [16]:
for k, v in df_dict.items():
    print(k, v.shape)

CO2 (87996, 58)
NOx (87996, 58)
PM10_Brake (87996, 58)
PM10_Exhaust (87996, 58)
PM10_Resusp (87996, 58)
PM10_Tyre (87996, 58)
PM25_Brake (87996, 58)
PM25_Exhaust (87996, 58)
PM25_Resusp (87996, 58)
PM25_Tyre (87996, 58)

# Model Development

## Classify features to labels and targets

In [17]:
label = []
columnstokeep = df.columns
for a in columnstokeep:
    if 'AADT' in a:
        label = label + [a]
    elif 'Speed' in a:
        label = label + [a]
    elif 'Length' in a:
        label = label + [a]
label

['Length (m)_x',
 'AADT Motorcycle',
 'AADT Taxi',
 'AADT Pcar',
 'AADT Dcar',
 'AADT PLgv',
 'AADT DLgv',
 'AADT LtBus',
 'AADT Coach',
 'AADT Rigid2Axle',
 'AADT Rigid3Axle',
 'AADT Rigid4Axle',
 'AADT Artic3Axle',
 'AADT Artic5Axle',
 'AADT Artic6Axle',
 'AADT ElectricCar',
 'AADT ElectricLgv',
 'AADT TOTAL',
 'Speed (kph)',
 'Length (m)_y']

In [18]:
target = ['Motorcycle', 'Taxi', 'Car',
          'BusAndCoach', 'Lgv', 'Rigid', 'Artic', 'Rigid2Axle', 'Rigid3Axle',
          'Rigid4Axle', 'Artic3Axle', 'Artic5Axle', 'Artic6Axle', 'PetrolCar',
          'DieselCar', 'PetrolLgv', 'DieselLgv', 'LtBus', 'Coach', 'ElectricCar',
          'ElectricLgv']

## Split the data into train and test

In [19]:
from sklearn.model_selection import train_test_split

train_test_set = {}

for k, v in df_dict.items():
    x_train, x_test, y_train, y_test = train_test_split(v[label], v[target], test_size=0.2, random_state=42)
    train_test_set[k] = {'x_train': x_train, 'x_test': x_test, 'y_train': y_train, 'y_test': y_test}

train_test_set.keys()

dict_keys(['CO2', 'NOx', 'PM10_Brake', 'PM10_Exhaust', 'PM10_Resusp', 'PM10_Tyre', 'PM25_Brake', 'PM25_Exhaust', 'PM25_Resusp', 'PM25_Tyre'])

## Model Training

### Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

### SVM Regression

In [20]:
from sklearn.svm import SVR
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [21]:
# model set for each pollutant
SVR_set = {}

for k, v in train_test_set.items():
    model = MultiOutputRegressor(SVR(kernel='rbf', C=1.0, gamma='auto'))
    model.fit(v['x_train'], v['y_train'])
    y_pred = model.predict(v['x_test'])
    mse_score = mean_squared_error(v['y_test'], y_pred)
    r2_score = r2_score(v['y_test'], y_pred)
    SVR_set[k] = {'model': model, 'y_pred': y_pred, 'mse_score': mse_score, 'r2_score': r2_score}

In [ ]:
# print the mse_score and r2_score for each pollutant model
for k, v in SVR_set.items():
    print(k, v['mse_score'], v['r2_score'])

### Decision Tree Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

In [ ]:
# model set for each pollutant
DTR_set = {}

for k, v in train_test_set.items():
    model = MultiOutputRegressor(DecisionTreeRegressor(max_depth=5, random_state=42))
    model.fit(v['x_train'], v['y_train'])
    y_pred = model.predict(v['x_test'])
    mse_score = mean_squared_error(v['y_test'], y_pred)
    r2_score = r2_score(v['y_test'], y_pred)
    DTR_set[k] = {'model': model, 'y_pred': y_pred, 'mse_score': mse_score, 'r2_score': r2_score}

In [ ]:
# print the mse_score and r2_score for each pollutant model
for k, v in DTR_set.items():
    print(k, v['mse_score'], v['r2_score'])

#### DT Visualisation

In [ ]:
for k, v in DTR_set.items():
    fig, ax = plt.subplots(figsize=(18, 12))
    plot_tree(v['model'].estimators_[0], ax=ax)
    plt.title(f"Decision Tree for {k}")
    plt.show()

### Random Forest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

In [ ]:
RFR_set = {}

for k, v in train_test_set.items():

In [ ]:
# feature selection
fs = SelectKBest(f_regression, k=10)
x_train_fs = fs.fit_transform(v['x_train'], v['y_train'])
x_test_fs = fs.transform(v['x_test'])

In [ ]:
# hyperparameter tuning
param_grid = {'n_estimators': [100, 200, 500],
              'max_depth': [3, 5, 7]}
grid_search = GridSearchCV(RandomForestRegressor(random_state=42), 
                                                 param_grid, cv=5)
grid_search.fit(x_train_fs, v['y_train'])
best_params = grid_search.best_params_

In [ ]:
# train model with best hyperparameters
model = RandomForestRegressor(n_estimators=best_params['n_estimators'], 
                              max_depth=best_params['max_depth'], 
                              random_state=42)
model.fit(x_train_fs, v['y_train'])
y_pred = model.predict(x_test_fs)
mse_score = mean_squared_error(v['y_test'], y_pred)
r2 = r2_score(v['y_test'], y_pred)

In [ ]:
# store results in dictionary
RFR_set[k] = {'model': model, 'y_pred': y_pred, 'mse_score': mse_score, 'r2_score': r2}

In [ ]:
# print the mse_score and r2_score for each pollutant model
for k, v in RFR_set.items():
    print(k, v['mse_score'], v['r2_score'])